.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-bar {
    background-color: #615c5c;
    padding: 10px;
    width: 100%;
    margin-bottom: 3rem;

    h1 {
      padding-left: 1rem;
      margin: 0;
      color: #f5f3f3;
    }
  }
  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  
    input,
    select {
      padding: 0.5rem;
      font-size: 1rem;
    }
  
    .results-per-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
  
      label {
        margin-bottom: 0.5rem;
      }
    }
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;

    .card {
      width: 200px;
      height: 300px;
      margin-bottom: 1rem;
      background-color: #ffffff;
      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ddd;
      overflow: hidden;
      margin: 0.5rem;

      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
        border: 2px solid white;
      }

      .card-image {
        flex: 1;
        display: flex;
        align-items: center;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      h2 {
        padding: 0.5rem;
        text-align: center;
        font-size: 1em;
        margin: 0;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    button {
      margin: 1px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      background-color: #444;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #aaa;
        cursor: not-allowed;
      }
    }
  }

  @media (max-width: 600px) {
    .card-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 1rem;
      padding: 1rem;
    }

    .card {
      h2 {
        font-size: 0.8em;
      }
    }

    .page-numbers {
      display: none;
    }
  }
}