html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #2b2a2a;
  padding: 20px;
  color: #777;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;

      li {
        margin: 3rem;

        a {
          display: inline-block;

          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  .footer-stores {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        margin-left: 10px;

        a {
          display: inline-block;
        }
      }
    }
  }

  .footer-made-by {
    margin: 1rem;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    .footer-social,
    .footer-stores {
      margin-top: 1.5rem;
    }
  }
}
